/********************************** 
* Design by:  [your name]
* Design name:  [your design name]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */

/* Get your own import URL from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.page-wrapper {
  /* Main font */
  font-family: "Bitcount Grid Single", sans-serif;
  color:mistyrose;
  text-align:center; 
}
h2,
h3,
h4,
h5,
h6 {
  /* Header font */
  font-family: "Poppins", cursive;
  color:black;
  text-align:center;
  
}
h1{
color:mistyrose;
font-family: "Poppins", cursive;
text-align: center;
border: 5px solid mistyrose;
border-radius: 10px;
background-color: black;
box-shadow:0 0 20px black;
margin-bottom: 50px;
}
.summary{
  border:5px solid mistyrose;
  background-color:black;
  border-radius:10px;
  box-shadow:0 0 20px black;
  margin-bottom:50px;
  padding:10px;
  font-size:20px
}
.preamble h3{
  top: -5em;
  position: absolute;
  margin-bottom: 50px;
  color: mistyrose;
  position: relative;
 width: 500px;
}
.preamble{
  border:5px solid mistyrose;
  background-color:black;
  border-radius:10px;
  box-shadow:0 0 20px black;
  margin-bottom:50px;
  padding:10px;
 font-size: 20px;
}
    
  

/* Background */
#css-zen-garden {
  background: linear-gradient(45deg, #f3f3f3 0%, #c8c8c8 100%);
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: 0 auto;
}
